* {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: "MedievalSharp", cursive;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  color: snow;
  text-shadow: 1px 1px 3px black;
}

.grid-containers {
  display: grid;
  grid-template-areas:
    "header header header header"
    "barrita main main main"
    "footer footer footer footer";
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  background-repeat: no-repeat;
  background-size: cover;
}

.misiones {
  display: flex;
  flex-direction: column;
  background-color: #c99868;
  width: 12rem;
  border: 1px solid black;
  text-align: center;
  margin-top: 15px;
  margin-left: 15px;
}
.misiones img {
  flex-direction: column;
  width: 25vh;
  height: 30vh;
  border: 1px solid;
}
.header {
  grid-area: header;
  background-color: cyan;
}
.barrita {
  grid-area: barrita;
  background-color: gray;
  text-align: start;
}
h3 {
    text-decoration:underline;
}
.footer {
  grid-area: footer;
  background-color: black;
}
